<div class="map-size">
  <div class="map" [ngStyle]="{'background-image': 'url(' + link + ')'}" (click)="onMouseClick($event)">
    <div class="pin" *ngFor="let pin of pins; let i = index" id="{{'pin-'+i}}"
      [style.left]="pin.x + '%'"
      [style.top]="pin.y + '%'"
      (click)="onClick.emit(i)"
    >
      <mat-icon
        [color]="i === selectedPin ? 'warn' : 'primary'"
        [style.fontSize]="i === selectedPin ? '28px' : '24px'"
      >location_on</mat-icon>
      <label style="color: white;">{{i+1}}</label>
      
    </div>
  </div>
</div>
