canvas {
  background-image: url('../../../assets/svg/museo.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 1050px;
  height: 700px;
  display: block;
  margin: auto;
}
