.map {
  background-image: url('../../../assets/svg/HaciendaTrinidad.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 350px;
  height: 260px;
  display: block;
  margin: auto;
  background-size: 350px 350px;
}

.pin {
  position: absolute;
  cursor: pointer;
}

.map-size {
  position: relative;

}
