<mat-toolbar color="primary">
		
	<mat-toolbar-row style="display: flex; justify-content: center">
		<span class="header-title">Museo</span>
		<span class="header-title"><br/>Virtual</span>
	</mat-toolbar-row>

	<mat-toolbar-row style="height: 0vh; margin-bottom: 5px">
		<hr size="1" width="95%" class="title-line">
	</mat-toolbar-row>

	<mat-toolbar-row style="height: 7vh">
		<span class="spacer"></span>
	  	<button mat-raised-button class="button-toolbar" color="primary" routerLink="/" routerLinkActive="active">
	    	INICIO
	  	</button>

	  	<span *ngIf="userRole=='admin'" class="spacer2"></span>
	  	<button *ngIf="userRole=='admin'" mat-raised-button class="button-toolbar" color="primary" routerLink="/tool-creator" routerLinkActive="active">
	    	EDITOR
	  	</button>

	  	<span *ngIf="userRole=='visitante'" class="spacer2"></span>
	  	<button mat-raised-button *ngIf="userRole=='visitante'" class="button-toolbar" color="accent" style="border-radius: 9999px">
	    	INICIAR SESIÓN
	  	</button>

	  	<span *ngIf="userRole=='admin'" class="spacer2"></span>
	  	<button mat-raised-button *ngIf="userRole=='admin'" class="button-toolbar" color="accent" style="border-radius: 9999px">
	    	CERRAR SESIÓN
	  	</button>
	</mat-toolbar-row>
	
</mat-toolbar>

