//.spacer {
//  flex: 1 1 auto;
//}

.spacer {
	flex: 0.95;
}

.spacer2{
	flex: 0.05;
}

.button-toolbar {
	font-size: 10px;
	letter-spacing: 2px;
	box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0) !important;
}

.button-toolbar:hover {
	opacity: 0.6 !important;
	text-decoration: overline;
}

.header-title{
	font-family: "monospace";
	font-size: 25px;
	font-style: italic;
}

.title-line{
	border-top: 1px solid rgba(255, 255, 255, 0.18);
	margin-top: 10px;
	margin-bottom: 0px; 
	border-right: 0px; 
	border-left: 0px;
}
::ng-deep .custom-modalbox {
	mat-dialog-container {
		padding: 0;
	}
	}