.expand {
  width: 100%;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  button {
    margin-left: 8px;
  }
}

.padding {
  padding: 16px;
}

.margin {
  margin: 16px;
}

.margin-auto {
  display: block;
  margin: auto;
}

.display-container {
  >::ng-deep .mat-figure {
    display: block !important;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 5px;
}

.button {
  padding: 12px 15px;
  font-size: 15px;
  background: #880000;
  color: white;
  border: none;
  border-radius: 12px;
  letter-spacing: 2px;
}
