.expand {
  width: 100%;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  button {
    margin-left: 8px;
  }
}

h2 {
  padding: 30px 0px 0px 16px;
}

.padding {
  padding: 30px 16px;
}

.margin {
  margin: 16px;
}

.margin-auto {
  display: block;
  margin: auto;
}

.display-container {
  >::ng-deep .mat-figure {
    display: block !important;
  }
}

.material-icons {
  font-size: 20px;
}

.mat-raised-button {
  padding: 0px 10px;
  letter-spacing: 1px;
}

.table {
  margin: 16px;
}

.link {
  cursor: pointer;
  color: blue;
}
