.featured-image {
  height: 150px;
  display: block;
  margin: auto;
  width: auto;
}

.museum-card {
  width: 80%;

  mat-card-content {
    margin-top: 16px;
    padding: 8px 16px 0px 16px;
  }

  mat-card-actions {
    padding: 8px 16px 0px 16px;
  }
}

.add-museum-card {
  width: 80%;
  // height: 80%;

  mat-card-content {
    margin-top: 16px;
    padding: 8px 16px 0px 16px;
  }

}

.museum-pin {
  width: 30%;
}

.button-museum {
  background: none;
  border: none;
  cursor: pointer;
}

.text {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}