<!-- Boton para subir archivo -->
<div *ngIf="!showPano" class="empty-scene-container">
    <button class="empty-scene" mat-stroked-button (click)="addScene()">
        <h2>Para comenzar sube un archivo de Configuracion en <b>Formato JSON</b></h2>
        <mat-icon>lightbulb</mat-icon>
    </button>

</div>

<div class="row">
    <!-- Panorama -->
    <div id="panorama" *ngIf="showPano"></div>

    <!-- Toolbar -->
    <div id="tools-view" *ngIf="showPano">
        <h2>Tools</h2>
        <form id="hotspot-form">

            <button mat-raised-button color="{{pannellumService.mouseToogle ? 'primary' : ''}}"
                (click)="addHotspot()">Agregar Hotspot</button>
            <mat-form-field appearance="fill">
                <mat-label>Tipo de HotSpot</mat-label>
                <mat-select [formControl]="hotspotTypeInput">
                    <mat-option *ngFor="let h of hotspots" [value]="h.value">
                        {{h.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div id="hotspot-scene" class="hotspots-fields" *ngIf="hotspotTypeInput.value == 'scene'">
                <!-- TITULO -->
                <h3>Hotspot de Cambio de Escena</h3>

                <!-- TEXTO -->
                <mat-form-field appearance="fill">
                    <mat-label>Texto</mat-label>
                    <input matInput [formControl]="hotspotTextInput" type="text" placeholder="Texto del hotspot">
                </mat-form-field>

                <!-- ID -->
                <mat-form-field appearance="fill">
                    <mat-label>ID</mat-label>
                    <input matInput [formControl]="hotspotIdInput" type="text" placeholder="ID del hotspot">
                </mat-form-field>

                <!-- SIGUIENTE ESCENA -->
                <mat-form-field appearance="fill">
                    <mat-label>Siguiente Scena</mat-label>
                    <mat-select [formControl]="hotspotSceneIdInput">
                        <mat-option value="">
                            Selecciona una
                        </mat-option>
                        <mat-option *ngFor="let s of pannellumService.getScenes()" [value]="s">
                            {{s}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- CUSTOM ICON -->
                <mat-accordion>
                    <mat-expansion-panel (opened)="customIconField = true" (closed)="customIconField = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Icono Personalizado
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <!-- SRC -->
                        <mat-form-field appearance="fill">
                            <mat-label>SRC</mat-label>
                            <input matInput [formControl]="hotspotCustomIconSrcInput" type="text"
                                placeholder="Ruta del icono">
                        </mat-form-field>

                        <!-- ALT -->
                        <mat-form-field appearance="fill">
                            <mat-label>ALT</mat-label>
                            <input matInput [formControl]="hotspotCustomIconAltInput" type="text"
                                placeholder="Alt del icono">
                        </mat-form-field>

                        <!-- WIDTH -->
                        <mat-form-field appearance="fill">
                            <mat-label>Ancho</mat-label>
                            <input matInput [formControl]="hotspotCustomIconWidthInput" type="text"
                                placeholder="Ancho del icono">
                        </mat-form-field>

                        <!-- HEIGHT -->
                        <mat-form-field appearance="fill">
                            <mat-label>Alto</mat-label>
                            <input matInput [formControl]="hotspotCustomIconHeightInput" type="text"
                                placeholder="Alto del icono">
                        </mat-form-field>

                    </mat-expansion-panel>
                </mat-accordion>

                <!-- CSS Class -->
                <mat-form-field appearance="fill">
                    <mat-label>CSS Class</mat-label>
                    <input matInput [formControl]="hotspotCssClassInput" type="text"
                        placeholder="Custom Css class del hotspot">
                </mat-form-field>


            </div>

            <div id="hotspot-info" class="hotspots-fields" *ngIf="hotspotTypeInput.value == 'info'">

                <h3>Hotspot de Info</h3>


                <!-- TEXTO -->
                <mat-form-field appearance="fill">
                    <mat-label>Texto</mat-label>
                    <input matInput [formControl]="hotspotTextInput" type="text" placeholder="Texto del hotspot">
                </mat-form-field>

                <!-- ID -->
                <mat-form-field appearance="fill">
                    <mat-label>ID</mat-label>
                    <input matInput [formControl]="hotspotIdInput" type="text" placeholder="ID del hotspot">
                </mat-form-field>

                <!-- URL -->
                <mat-form-field appearance="fill">
                    <mat-label>URL</mat-label>
                    <input matInput [formControl]="hotspotURLInput" type="text" placeholder="URL del hotspot">
                </mat-form-field>

                <!-- CSS Class -->
                <mat-form-field appearance="fill">
                    <mat-label>CSS Class</mat-label>
                    <input matInput [formControl]="hotspotCssClassInput" type="text"
                        placeholder="Custom Css class del hotspot">
                </mat-form-field>
            </div>

            <div id="hotspot-custom" class="hotspots-fields" *ngIf="hotspotTypeInput.value == 'custom'">

                <h3>Hotspot Personalizado</h3>

                <!-- TEXTO -->
                <mat-form-field appearance="fill">
                    <mat-label>Texto</mat-label>
                    <input matInput [formControl]="hotspotTextInput" type="text" placeholder="Texto del hotspot">
                </mat-form-field>

                <!-- ID -->
                <mat-form-field appearance="fill">
                    <mat-label>ID</mat-label>
                    <input matInput [formControl]="hotspotIdInput" type="text" placeholder="ID del hotspot">
                </mat-form-field>

                <!-- CUSTOM ICON -->
                <mat-accordion>
                    <mat-expansion-panel (opened)="customIconField = true" (closed)="customIconField = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Icono Personalizado
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <!-- SRC -->
                        <mat-form-field appearance="fill">
                            <mat-label>SRC</mat-label>
                            <input matInput [formControl]="hotspotCustomIconSrcInput" type="text"
                                placeholder="Ruta del icono">
                        </mat-form-field>

                        <!-- ALT -->
                        <mat-form-field appearance="fill">
                            <mat-label>ALT</mat-label>
                            <input matInput [formControl]="hotspotCustomIconAltInput" type="text"
                                placeholder="Alt del icono">
                        </mat-form-field>

                        <!-- WIDTH -->
                        <mat-form-field appearance="fill">
                            <mat-label>Ancho</mat-label>
                            <input matInput [formControl]="hotspotCustomIconWidthInput" type="text"
                                placeholder="Ancho del icono">
                        </mat-form-field>

                        <!-- HEIGHT -->
                        <mat-form-field appearance="fill">
                            <mat-label>Alto</mat-label>
                            <input matInput [formControl]="hotspotCustomIconHeightInput" type="text"
                                placeholder="Alto del icono">
                        </mat-form-field>

                    </mat-expansion-panel>
                </mat-accordion>

                <!-- MODAL -->
                <mat-accordion>
                    <mat-expansion-panel (opened)="modalField = true" (closed)="modalField = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Ventana de Info (MODAL)
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <!-- TITLE -->
                        <mat-form-field appearance="fill">
                            <mat-label>Titulo</mat-label>
                            <input matInput [formControl]="hotspotModalTitleInput" type="text"
                                placeholder="Titulo del modal">
                        </mat-form-field>

                        <!-- DESCRIPTION -->
                        <mat-form-field appearance="fill">
                            <mat-label>Descripcion</mat-label>
                            <input matInput [formControl]="hotspotModalDescriptionInput" type="text"
                                placeholder="Escribe una descripcion">
                        </mat-form-field>

                        <!-- URL IMAGE -->
                        <mat-form-field appearance="fill">
                            <mat-label>Ruta</mat-label>
                            <input matInput [formControl]="hotspotModalImageURLInput" type="text"
                                placeholder="Ruta de la imagen del Modal">
                        </mat-form-field>

                    </mat-expansion-panel>
                </mat-accordion>

                <!-- CSS Class -->
                <mat-form-field appearance="fill">
                    <mat-label>CSS Class</mat-label>
                    <input matInput [formControl]="hotspotCssClassInput" type="text"
                        placeholder="Custom Css class del hotspot">
                </mat-form-field>
            </div>




        </form>

    </div>

</div>

<div class="row">
    <div id="hotspots-view" *ngIf="showPano">
        <div class="hotspot-view-child" *ngFor="let hotspot of pannellumService.getHotspots()"
            (click)="removeHotspot(hotspot)">
            <h4>{{hotspot.text}}</h4>
            <p>{{hotspot.type}}</p>
        </div>
    </div>

</div>


<input hidden type="file" id="file" (change)="onJsonFileChanged( $event )" />