
<!-- Boton para subir archivo -->
<div *ngIf="!showPano" class="empty-scene-container">
    <button class="empty-scene" mat-stroked-button (click)="addScene()">
        <h2>Para comenzar sube un archivo de Configuracion en <b>Formato JSON</b></h2>
        <mat-icon>lightbulb</mat-icon>
    </button>

</div>

<!-- Panorama -->
<div id="panorama" *ngIf="showPano"></div>

<!-- Toolbar -->
<div id="tools-view" *ngIf="showPano">
    <h2>Tools</h2>
    <form>

        <button mat-raised-button (click)="pannellumService.toogleAddHotspot()">Agregar Hotspot</button>
        <mat-form-field appearance="fill">
            <mat-label>Tipo de HotSpot</mat-label>
            <mat-select [formControl]="hotspotTypeInput">
              <mat-option *ngFor="let h of hotspots" [value]="h.value">
                {{h.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>

    </form>

</div>




<!-- <input hidden type="file" id="file" (change)="handleFileInput($event.target.files)"> -->
<input hidden type="file" id="file" (change)="onJsonFileChanged($event)">