.empty-scene-container{

    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    align-items: center;
    height: 70vh;

}

.empty-scene{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // Para el boton
    border-width: 5px;
    border-radius: 10px;
    padding: 10px 30px;

}

:host{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

#panorama, #no_imagen{
    width: 70vw;
    height: 70vh;
}

#tools-view{
    width: 30vw;
    margin: 5px;
    border: 2px solid black;
    background-color: #f3f3f3;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

#tools-view form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field{
    margin: 10px 0;
}

#hotspots-view{
    width: 100vw;
    border: 2px solid black;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 5px;
    display: flex;
}

.hotspot-view-child{
    width: 8vw;
    margin: 10px 5px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.hotspots-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#hotspot-form{
    width: 100%;
}

.add-hotspot-button{
    width: 16vw;
}

.accordion-form{
    width: 16vw;
}

.form-field{
    width: 16vw;
}