<h1 mat-dialog-title style="text-align: center;">Toca el minimapa para colocar el pin</h1>
<div mat-dialog-content style="text-align: center;">
    <div class="croquis-content">
      <app-canvas_minimapa [pins]="tour.pins" [selectedPin]="selectedPin" [img]="img" [place] = "true" class="croquis"></app-canvas_minimapa>
    </div>
    <select name="miselect" [(ngModel)]="selected">
        <option disabled> Escena a navegar </option>
        <option [value]="item" *ngFor="let item of scenesAvailable">{{item}}</option> 
    </select>
</div>
<div mat-dialog-actions style="justify-content: center;">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="aceptar()">Aceptar</button>
</div>
